<div class="container">
    <form class="form-signin">
        <input class="form-control" placeholder="Username" type="text"/>
        <input class="form-control" placeholder="Password" type="password"/>
    </form>
</div>