.form-signin {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.form-control {
    margin-bottom: 10px
}

.login-page {
    background-color: honeydew;
}

.signin-header {
    margin-bottom: 10px;
    font-size: xx-large;
    text-align: center;
}